/*
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-heading {
  color: red;
  font-size: 26px;
}

.underline {
  height: 04px;
  width: 4rem;
  background-color: #f76c2f;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bg-c-light {
  background-color: #f2f2f2;
}

.footer a {
  color: #fff;
  text-decoration: none !important;
}

.footer a:hover {
  color:#f76c2f;
}
