/* .username{
    padding-top: 100px;
    color: black;
    margin-top: -90px;
    
}

.postTitle{
    border-bottom: 1px solid rgba(13, 68, 100, 0.9);
    color: rgba(13, 68, 100, 0.9);
    text-transform: capitalize;
}

.account{
    background-color: rgb(23, 27, 18);
    width: 100%;
    height: 100vh;
    margin-top: 0px;
    display: inline-block;
    justify-content: space-between;
    overflow: auto;
    margin-bottom: -10px;
}

.account_profile{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: -35px;
    border: 3px solid white;
    z-index: 5;
}

.div{
    width: 240px;
    height: 60px;
    background-color: rgb(197, 211, 204);
    /* position: absolute; */
    /* top: -60px;
    left: 100px;
    z-index: 1;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.profile_top{
    background-color: white;
    width: 240px;
    height: 200px;
    position: absolute;
    top: 130px;
    text-align: center;
    border-radius: 12px;
    margin-left: 80px;
}

.account_posts{
    color: white;
    right: 300px;
    margin-bottom: 20px;
    width: 600px;
    height: 200px;
    background-color: rgb(197, 211, 204);
    color: #18181a;
    padding: 20px;
    margin-right: 350px;
    border-radius: 12px;
}

.account_adverts{
    text-align: center;
    width: 640px;
    height: 260px;
    background-color: lightgray;
    color: #18181a;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px 0;
    object-fit: contain;
}

.account_adverts > h4 {
    margin-top: 130px;
    color: #f59e42;
    text-transform: capitalize;
}

.account_center{
    padding-top: 75px;
    margin-left: 400px;
}

.account_right{
    height: 90vh;
    position: absolute;
    width: 20%;
    right: 20px;
    border: 1px solid brown;
}

.account_add_post{
    position: fixed;
    margin-top: 340px;
    width: 180px;
    margin-left: 110px;
    height: 40px;
    border-radius: 12px;
    font-size: large;
    font-family: glory;
    font-weight: bold;
    color: rgb(23, 27, 18);
    background-color: rgb(197, 211, 204);
    border: none;
    outline: none;
}


.account_search_bar{
   position: fixed;
   margin-left: -70px;
   margin-top: 70px;
   width: 350px;
   border-radius: 10px;
   outline: none;
}

.search_account{
    background-color: white;
}

.more{
    background-color: rgb(255, 255, 255);
    width: 240px;
    height: 170px;
    position: absolute;
    top: 390px;
    text-align: center;
    border-radius: 12px;
    margin-left: 80px;
    border: 1px solid #f59e42;
    z-index: 1;
} */ 

.account_profile{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 135px;
    border: 3px solid white;
    z-index: 5;
    margin-left: 30px;
    
}


.div_container{
    background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)), url(../Assets/images/3wall.jpeg);
    background-position: center;
    background-size: cover;
    border: 1px solid grey;
    width: 100%;
    height: 300px;
    border-radius: 12px;
    display: flex;
    /* margin: 20px;
    margin-right: 60px; */
}

.account{
    padding-top: 100px;
    background-color: lightgrey;
    display: flex;
    justify-content: space-evenly;

}

.sideOf_profile{
    margin-top: 110px;
    padding: 10px 30px;
    height: fit-content;
    border-radius: 15px;
    margin-left: 20px;
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5));
    width: fit-content;
}

.prof_icon{
    display: flex;
}

.profIcon{
    margin-right: 5px;
}

.username{
    color: white;
    font-size: xx-large;
}

.createdAt{
    color: white;
    text-transform: capitalize;
}

.liveUser{
    font-weight: bolder;
    position: absolute;
    top: 230px;
    left: 350px;
    width: 25px;
    height: 25px;
    background-color: green;
    color: white;
    border-radius: 50%;
}

.involved{
    display: flex;
    margin-left: 360px;
    margin-top: 230px;
    margin-right: 30px;
}

.p_involved{
    margin-left: 10px;
    color: white;
}

.p_involved > b{
    color: rgb(221, 221, 221);
    border: none;
    font-family: sans-serif;
    font-size: medium;
    font-weight: bolder;
}

.more{
    margin-top: 20px;
    display: flex;
    border-radius: 10px;
    margin-left: 40px;
}

.more_nav{
    padding: 20px;
    font-size: large;
    font-family: sans-serif;
    background-color: white;
    border: 1px solid lightgray;
    border-bottom: 4px solid transparent;
    transition: 1s;
    transition-delay: 0.3s;
    color: rgba(12, 28, 69);
    cursor: pointer;
}

.first{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.more_nav:hover{
    border-bottom: 4px solid rgba(12, 28, 69);
}

.last{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.account_center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.account_posts{
    width: 330px;
    height: 480px;
    margin: 15px;
    background-color: white;
    border-radius: 10px;
}

.account_img{
    width: 360px;
    height: 220px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* .account_img:hover{
    transform: scale(1);
} */

.img_container {
    position: relative;
    overflow: hidden;
    max-width: 360px;
    z-index: 1;
  }
  .img_container::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #e5e5e5;
    opacity: 0;
    transition: .5s ease all;
  }
  .account_img {transition: .5s ease all; width: 100%; object-fit:cover;}
  .img_container:hover .account_img {
    transform: scale(1.1);
  }
  
  .img_container:hover::after {opacity: 0.2;}

.account_posts_content{
    padding: 20px;
}

.postTitle{
    text-transform: capitalize;
    font-size: large;
    font-family: sans-serif;
    font-weight: bolder;
}

.body{
    font-size: medium;
    font-weight: normal;
    margin-top: -20px;
}
#body{
    overflow: hidden;
    text-overflow: ellipsis; 
    width: 100%;
    height: 100px;
}

.account_side_left{
    width: 250px;
    height: 100vh;
    background-color: white;
    margin-top: -100px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.account_center{
   margin: 0 10px;
}

.account_side_right{
    width: 250px;
    height: 100vh;
    background-color: white;
    margin-top: -100px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.dup_btn{
    margin-top: 6px;
}

.account_delete{
    transition: 0.5s;
}

.account_delete:hover{
    color: red;
}

.account_update{
    transition: 0.5s;
}

.account_update:hover{
    color: rgba(12, 28, 69);
}

.read{
    width: 100px;
    margin-bottom: 15px;
    background-color: rgba(12, 28, 69, 0.95);
    text-transform: capitalize;
    color: white;
    padding: 3px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.sideBarIcons{
    margin-top: 5px;
    margin-left: 15px;
}