.addPost{
    position: absolute;
    width: 50%;
    background: linear-gradient(rgba(0,0,0,0.95), rgba(0,0,0,0.95));
    text-align: center;
    padding-top: 50px;
    height: 70vh;
    z-index: 20;
}

.post_input{
    width: 400px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: 1px solid transparent;
    margin-bottom: 10px;
    padding-left: 10px;
}

.post_textarea{
    border: none;
    outline: none;
    padding-left: 10px;
}

.post_btn{
    width: 100px;
    height: 40px;
    background-color: rgba(12, 28, 69);
    border: none;
    outline: none;
    padding: 5px;
    color: white;
    margin-top: 20px;
    border-radius: 5px;
}

