/* .test{
    position: absolute;
    left: 600px;
    top: 500px;
    height: 700px;
   
} */

.chat_li{
    padding-top: 100px;
}

.all_users{
    position: absolute;
    right: 0;
    width: 230px;
    border: 2px solid #0c1c45;
    height: 100vh;
    top: 60px;
    position: fixed;
}

#all_users{
    position: absolute;
}

.all_users > h5{
    background-color: #0c1c45;
    color: white;
    font-weight: 300;
    text-transform: capitalize;
    font-size: medium;
    padding: 11.2px;
}

.side_users{
    margin-left: 5px;
    display: flex;
}

.chatroom{
    padding-top: 100px;
    display: inline-block;
    width: 1300px;
    height: 100vh;;
    overflow: auto;
    margin-top: 20px;
    
}

.test > li{
    list-style: none;
}

.chat_pic{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.user_chat_pic{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 3px;
}

.message_area{
    margin-left: 313px;
    width: 800px;
    height: 400px;
}

.messageSearch{
    position: absolute;
    top: 60px;
    background-color: #0c1c45;
    height: 44px;
    width: 816px;
    padding: 5px;
    position: fixed;
    right: 230px;
    padding-left: 35px;
}

.messageSearch > input{
    background-color: lightgray;
    height: 30px;
    width: 400px;
    border: none;
    outline: none;
    padding-left: 10px;
    border-radius: 5px;
}

.user_p{
    position: fixed;
    width: 305px;
    background-color: rgba(12, 21, 69, 0.95);
    height: 100vh;
    margin-top: -60px;
}

.sms_body{
    width: fit-content;
    height: fit-content;
    background-color: lightgray;
    padding: 5px 20px;
    border-radius: 12px;
    color: black;
}

.sender{
    font-size: x-small;
    margin-left: 20px;
}

.current-user-chat{
    display: flex;
    justify-content: end;
}

.room_name{
    background-color: #0c1c45;
    color: white;
    padding: 5px;
}

#cbody{
    margin-left: 45px;
}
