.group_container{
    width: 400px;
    height: 100vh;
    display: flex;
}

.all_groups > li {
    color: black; 
    padding-top: 100px;
    
}

.group_form > input{
background-color: black;
color: white;
}

.groupForm{
    padding-top: 200px;
}

.messages{
    position: absolute;
    left: 300px;
    top: 400px;
    height: 700px;
}