.group_container{
    width: 400px;
    height: 100vh;
    display: flex;
}

/* .all_groups > li {
    color: black; 
    padding-top: 100px;
    
} */
/* .group{
    text-align: center;
} */
/* .group_form > input{
background-color: black;
color: white;
} */

.groupForm{
   
    padding: 100px;
    width: 70%;
    /* margin-top: 100px; */
    /* border: 1px solid red; */
   
    
}
.group-list{
    text-align: left;
    margin-left: 50px;
}

.messages{
    position: absolute;
    left: 300px;
    top: 400px;
    height: 700px;
}