

/* .all_groups > li {
    color: black; 
    padding-top: 100px;
    
} */
/* .group{
    text-align: center;
} */
/* .group_form > input{
background-color: black;
color: white;
} */

.form-control{
    width: 400px;
    background-color: lightgray;
}
.group-list{
    text-align: left;
    margin-left: 50px;
}

.messages{
    position: absolute;
    left: 300px;
    top: 400px;
    height: 700px;
}

.group{
    background-color: white;
    width: 50%;
    padding: 20px;
    height: 400px;
    position: absolute;
    z-index: 30;
}

ol{
    height: 100px;
    overflow: auto;
}