.sms_input{
    width: 850px;
    height: 30px;
    border: 1px solid lightgray;
    background-color: rgba(12, 27, 65, 0.4);
    outline: none;
    border-radius: 10px;
    padding-left: 10px;
}

.send{
    width: 47px;
    height: 32px;
    border: 1px solid lightgray;
    background-color: rgba(121, 120, 120, 0.8);
}

.send_sms{
    display: flex;
    width: 60%;
    position: absolute;
    right: 233px;
    bottom: -2px;
    position: fixed;
}