.nav{
    width: 100%;
    height: 70px;
    position: fixed;
    list-style: none;
    display: flex;
    float: right;
    padding-left: 50px;
    background-color: rgb(238, 238, 238);
    margin-top: -10px;
    padding-top: 5px;
    padding-left: 800px;
    z-index: 10;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);;
}

.li{
    margin-left: 20px;
    font-weight: lighter;
    font-size: medium;
    text-transform: capitalize;
    cursor: pointer;
    color: rgb(2, 17, 59);
    font-family: sans-serif;
    padding-top: 30px;
    transition: 1s;
    border-bottom: 2px solid transparent;
}

.li:hover{
    color: rgba(12, 28, 69);
    border-bottom: 2px solid rgba(12, 28, 69);
}
.logo{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    z-index: 15;
    left: 15px;
    position: fixed;
}


