.img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-top: 5px;
}

.latest_post{
    display: flex; 
    z-index: 1;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
}


.latest_btn{
    text-transform: capitalize;
    outline: none;     
    border: none;
    width: fit-content;
    height: fit-content;
    margin-top: 85px;
    position: absolute;
    right: 40px;
    background-color: transparent;
    color: black;
    font-weight: 400;
    font-size: small;
    transition: 1s;
    padding-bottom: -50px;
    
}

.latest_btn:hover{
    border-bottom: 1px solid rgb(2, 17, 59);
    color: rgb(2, 17, 59);
}

.latest_container{
    margin-top: 60px;
    width: 300px;
    padding: 10px;
    border-radius: 15px;
    position: absolute;
    
}

.middle{
    margin-left: -120px;
}

.latest_p{
    font-family: glory;
    overflow: hidden;
    text-overflow: ellipsis; 
    width: 300px;
    height: 150px;
}


.latest_h3{
    text-transform: capitalize;
    font-size: medium;
}

.H3p{
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis; 
    width: 250px;
    height: 50px
}