.popup{
    position: fixed;
    top: 100px;
    left: 200px;
   padding: 30px;
   
    width: 50%;
    height: fit-content;
    background-color: rgba(0,0,0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.popup-inner{
    position: relative;
    /* padding: 5px; */
    width: 100%;
    max-width: 640px;
    background-color: #fff;
}
 /* .popup-inner .close-btn{ */
    /* position:absolute; */
    /* padding: 20px;} */
   
    
 