.sign_btn{
    background-color: #f59e42;
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 12px;
}

.signUpForm > input{
    width: 350px;
    height: 35px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    background-color: lightgray;
}

.signUpContainer{
    background-color: rgba(11, 11, 69, 0.8);
    height: 400px;
    padding: 30px;
    padding-top: 40px;
    border-radius: 12px;
}