.sign_btn{
    background-color: #f59e42;
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 12px;
}

.signUpForm > input{
    width: 350px;
    height: 35px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    background-color: lightgray;
}

.signUpContainer{
    background-color: white;
    height: 400px;
    padding: 40px;
    border-radius: 12px;
    margin-top: -40px;
}

.sTop{
    text-transform: capitalize;
    text-align: center;
    margin-top: -40px;
}