.intro{
    display: flex;
    width: 100%;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.postImg{
    background-position: center;
    background-size: cover;
    width: 650px;
    height: 420px;
    opacity: 0.9;
}

.intro > h3{
margin-top: 12px;
font-size: medium;
font-family: Arial, Helvetica, sans-serif;
padding: 5px;

}

.sp_img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 15px;
}

.sumUp{
    display: flex;
    margin-bottom: 20px;
}

.sumUP_info{
    margin-top: 20px;
}

.bGrey{
    color: rgb(165, 164, 164);
    border: none;
    font-weight: 400;
}

.dup_btn{
    display: flex;
}

.inner_dup_btn{
    width:70px;
    border: none;
    outline: none;
    height: 30px;
    border-radius:4px;
    text-transform: capitalize;
}

.edit{
    background-color: #E3E3E3;
    color: #c60021;
}

.delete{
    background-color: #c60021;
    color: #E3E3E3;
}

.title{
    color: black;
    font-family: serif;
    text-transform: capitalize;
    font-weight: bold;
    font-size: xx-large;
}

.post{
    width: 50%;
    margin: 0 auto;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 15px;
    left: 200px;
}

.body{
    font-family: nunito;
    color: black;
    margin: 25px 0
}

.right_comments{
    float: right;
    margin-top: 0px;
    margin-right: 20px;
    margin-right: 10px;
}

.info{
    display: flex;
    justify-content: space-between;
}

b{
    border-bottom: 1px solid rgb(2, 17, 59);
    text-transform: capitalize;
    margin-right: 5px;
    color: rgb(2, 17, 59);
}

